.container_drop_down {
    background-color: #F7F7F7;
    border-radius: 7px;
}

.container_drop_down ul {
    background-color: #cd7e7e;
}

.container_drop_down h3{
    background-color: #FF6060;
    position: relative;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 6px;
    font-weight: 400;
    color: white;
}

.container_drop_down h3 span {
    position: absolute;
    margin-top: 8px;
    margin-right: 10px;
    right: 0;
    cursor: pointer;
}
.container_drop_down h3 span .vector{
    width: 25px;
}
.container_drop_down p {
    color: #FF6060;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}


.container_drop_down ul {
    color: #FF6060;
    background-color: transparent;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
}
.container .description {
    width: 100%;
    margin-right: 40px;
}
.container .equipements {
    width: 100%;
}




