header{
    display: flex;
    justify-content: space-between;
    margin: 30px 10% 30px 10%;
}

header img {
    width: 100px;
}
header .links {
    margin-top: 10px;
}

header .links a {
    margin-left: 20px;
    text-decoration: none;
    color: #FF6060;
}
header .links a:hover{
    border-bottom: 2px #FF6060 solid;
}

@media screen and (max-width: 390px) {

    header img{
      width: 70px;
      object-fit: contain;
      margin-top: 10px;
    }
    header .links a{
      font-size: 13px;
  
    }
  }